body {
  background-color: rgb(51, 50, 50);
  color: rgb(240, 248, 255);
}

/* Header */
#header-nav {
  border: 0;
  border-radius: 0;
  padding: 10px;
  background-color: rgb(29, 29, 29);
}

.navbar-brand h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(240, 248, 255);
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

/* Main Content */
#main-content {
  margin: 25px auto;
}
section {
  margin: 25px auto;
  padding: 15px;
  background-color: grey;
  border-radius: 10px;
  overflow: hidden;
}
section h3 {
  margin-top: 2px;
}

/* Collabpsable nav */
div#collapsable-nav ul li a{
  font-size: 1.5em;
  border-bottom: 1px solid #fff;
  color: rgb(240, 248, 255);
  margin: 0;
}
div#collapsable-nav ul li a:hover {
  color: rgb(150, 146, 146);
}

/* Extra small devices */
@media (max-width: 575px) {
  #main-content {
    margin: 25px 15px;
  }
}

/* Small Devices */
@media (min-width: 576px) and (max-width: 768px) {
  #main-content {
    margin: 25px 15px;
  }
}